version: '3.9'
services:
  db:
    image: postgres:16
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: review_reply_manager
    ports:
      - "5432:5432"
  app:
    build: .
    env_file: .env
    depends_on:
      - db
    ports:
      - "3000:3000"
